.nxt-talented__header {
  max-width: 586px;
  width: 100%;
  margin: 0 auto;
}

.nxt-ib__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  color: #3b132a;
  text-align: center;
  margin: 0 0 20px;
}

.nxt-ib__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 31.2px;
  color: #3b132a;
  margin: 0 0 50px;
  text-align: center;
}

.nxt-imageBox__card {
  position: relative;
  flex: 1;
  min-width: 272px;
}

.nxt-imageBox {
  position: relative;
  padding: 53px 29px 55px;
  background: #3b132a;
  border-radius: 7.56px;
  clip-path: url(#rounded-imageBox);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  min-height: 300px;
}

.nxt-imageBox__card .nxt-imageBox__shape {
  position: absolute;
  top: -8px;
  right: 0;
  min-width: 90%;
  min-height: 300px;
  display: block !important;
  background: #ff319f;
  border-radius: 7.56px;
  clip-path: url(#rounded-imageBox);
}

.nxt-imageBox__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #f3efda;
  margin: 20px auto 10px;
  text-wrap: balance;
  width: 79%;
}

.nxt-imageBox__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  color: #f3efda;
  margin: 0;
}

.nxt-imageBox__icon {
  display: flex;
}

.nxt-container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.nxt-imageBox__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
}

@media (max-width: 1024px) {
  .nxt-imageBox__wrapper {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .nxt-ib__title {
    font-size: 24px;
  }
  .nxt-ib__description {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
